<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <!-- Adicionando logs padrão do Spring Boot-->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!--Só é ativado caso o profile "production" estiver ativado-->
    <springProfile name="production">
        <springProperty name="logglyToken" source="logging.loggly.customer-token"/>
        <!-- Registrando logs do Loggly.com -->
        <appender name="loggly" class="ch.qos.logback.ext.loggly.LogglyBatchAppender">
            <endpointUrl>https://logs-01.loggly.com/bulk/${logglyToken}/tag/logback</endpointUrl>
            <pattern>%d{"ISO8601", UTC} %p %t %c %M - %m%n</pattern>
        </appender>

        <!-- Appender para registro assincrono de logs no loggly-->
        <appender name="logglyAsync" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="loggly"/>
        </appender>

        <!-- Registrando logs de nível info para cima-->
        <root level="info">
            <appender-ref ref="logglyAsync"/>
        </root>
    </springProfile>
</configuration>